.ContactUs{
    position: absolute;
    left: 25%;
    top: 15%;
    background-color: rgb(241, 241, 241);
    
    border: 1px solid #000000;
    width: 1000px;
    height: 750px;


}

label{
    position: relative;
    left: 20px;
    top: 40px;
}

.foto1{

    position: relative;
    width: 75px;
    height: 75px;
}
.foto2{

    position: relative;
    width: 75px;
    height: 75px;
}
.foto3{

    position: relative;
    width: 75px;
    height: 75px;
}
.foto4{

    position: relative;
    width: 75px;
    height: 75px;
}
.foto5{

    position: relative;
    width: 75px;
    height: 75px;
}

input{
    position: relative;
    left: 50px;
    width: 710px;
    height: 50px;
}
textarea{
    position: relative;
    top: 75px;
    left: 50px;
    height: 100px;
    width: 710px;
}
.Enviar{
    top: 130px;
    left: 132px;
    background-color: rgb(85, 212, 206);
    color: white;
    border: 1px solid #000000;
}

.top{
    position:absolute;
    top: 50px;
    left: 25%;
    width: 1000px;
    height: 300px;

    background-color: rgb(241, 241, 241);
    border: 1px solid #000000;

}
.texttop{
    position: absolute;
    top: 70px;
    left: 850px;
    width: 250px;
    height: 50px;
    font-size: 50px;
}
